

  
  @import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
/* Import de la font 'syne' depuis Google Fonts et on l'applique sur tous les éléments de la page */

               /****general****/

:root {
                   /*variable*/
   --background-color: ; /* var(--background-color) */
   --background-formulaire-commande: #3B8E46; /* var(--background-formulaire-commande) */


   --bouton-color:#E0B9B4; /* var(--bouton-color) */
   --hover-color: #C02E44; /* var(--hover-color) */
   --bouton-plus-moins-commander: #DC9F96;/* var(--bouton-plus-moins-commander)*/
   --bouton-nav:#DC9F96;/*var(--bouton-nav)*/

   
   --titre-color1: #3B8E46; /* var(--titre-color1) */
   --titre-color2: #D2776A;/*var(--titre-color2)*/
   --titre-color3: black;/*var(--titre-color3)*/

   --text-commander-color:#fff;/* var(--text-commander-color)*/
                     /*raduis*/
                     
   --border-raduis-input:7px;/* var(--border-raduis-input)*/
}

body * ,h1,h2,h3,p,a{
  
   font-family:'syne', sans-serif !important;
 }
 h1{
   font-family: Syne;
   font-size: 38px;
   font-weight: 800;
   line-height: 46px;
   letter-spacing: 0em;
   text-align: center;
  /* margin:0 !important;*/
   
 }
 @media (max-width: 500px){
h1{
   font-family: Syne;
   font-size: 30px;
   font-weight: 800;
   line-height: 36px;
   letter-spacing: 0em;
   text-align: center;
 }
}
 h2{
   font-family: Syne;
font-size: 30px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0em;


 }

 h3{
   font-family: Syne;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
margin: 0 !important;
 }

 h5{
   font-family: Syne;
font-size: 20px;
font-weight: 800;
line-height: 24px;
letter-spacing: 0em;
text-align: center;

 }

 p{
   font-family: Syne;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
margin: 0;
 }


 h1,h2{
   color:  var(--titre-color1);
   
   }
  h3 {
      color: (--titre-color3);
   }

               /**TOUT LES FORMULAIRES**/
input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none !important;
}

input[type=number] {
   -moz-appearance : textfield; /* Firefox */
}
form.wpcf7-form input,
form.wpcf7-form textarea
{
  border-radius: var(--border-raduis-input);
}

fieldset{
   border:none;
   padding: 0;

}
legend{
   padding: 0;
}

                  /**general boutons**/
input[type=submit] {
   background: var(--bouton-color) !important;
   width: 198px;
   height: 55px;
   text-decoration: none; 
}

input[type=submit]:hover {
   background: var(--hover-color) !important;
   text-decoration: none;
   }


                /****fin general****/



                  /*menu header*/
.navigation-principal{
display:flex;

}
.navigation-principal a {
text-align: center;
padding-top: 50px;
}

div.header-inner{
   margin:0;
   padding:0;
   width: 100%;
   max-width: 100%;
}

ul.primary-menu {
   display: flex;
margin: 0 0 0 0 ;
}
header ul li:last-child a{
   background:var(--bouton-nav);
   color: #fff !important;
}

.primary-menu li.current-menu-item a{
 text-decoration:none !important;
}
.primary-menu  li a:hover{
   background:var(--hover-color);
   color: white!important;

}
.primary-menu  li a{
text-decoration: none;
 padding-top: 2em;
padding-right: 3em;
 padding-bottom:2em;
  padding-left: 3em;
  color: black !important;
}
.primary-menu li{
   margin: 0; 
}

                     /*logo*/
.custom-logo{
height:40px
}
                     /*main*/
/**fond et effet de fond*/
.hover-effect img {
   transition: all 0.33s ease-in-out;
   transform: scale(1) translateY(0px);
}
.hover-effect img:hover {
   transition: all 0.33s ease-in-out;
   transform: scale(1.05) translateY(-10px);
}
.font-gris {
background-color:  #ECE2DA;
margin-top:0;

}
.courbe-font{
border-bottom-right-radius: 55em 3em;
border-bottom-left-radius: 55em 3em;
padding: 30px 0 30px 0 ;
}
.ombrebas{
   box-shadow: 10px 5px 0 5px   #f2dac6;
  
}
.titrerouge{
   color:var(--titre-color2);
   font-weight: 800;
}

                     /*acueil*/


.boutons a{
   background:var(--bouton-color) !important;
   color:#fff;
   border-radius: var(--border-raduis-input);
   
   }
   .boutons a:hover{
   background:var(--hover-color)  !important;
   border:none;
   text-decoration: none !important;
   }
.courbe-font h1{
width: 780px;

}
@media (max-width: 800px){

   .courbe-font h1{
      width: 500px;}

}
@media (max-width: 500px){
   .courbe-font h1{
      width: 370px;}

}
/*placer les 3 images acceuil */
.elementg{
   position: relative;
   left: 18%;
   z-index:1;
   }
   .elementd{
   position: relative;
   right: 18%;
   z-index: 2;
   }
   .elemntc{
   z-index:3;
   }


   
.text1accueil{
   padding:50px 30px 50px 30px;

   /*galerie photo*/
   }
   .bloc_galerie 
{
  margin-top:30px !important;
  margin-bottom:30px !important;
}
.bloc_galerie .wp-block-group__inner-container
{
  display: flex;
 justify-content: center;
  flex-wrap: wrap;
}


.bloc_fruits_gallerie {
     display: inline-block;
   position: relative;
   width:394px !important;
   height:263px ; 
  margin: 10PX 10px!important;
}


.img_fruits_gallerie{
   position: absolute;
   margin:0 !important;
}

.bloc_fruits_gallerie h2{
   position: absolute !important;
   text-align: center;
   color: #fff !important;
   font-weight: 800;
   
font-size: 48px;
font-weight: 800;
line-height: 58px;
letter-spacing: 0em;
text-align: center;

   margin:0;
   padding-top: 100px;
}
.titre_framboise_gallerie{
   padding:70px 50px !important;
}
.titre_pamplemousse_gallerie{
   padding:60px 0px !important;
}
               /**section temoignage**/

.group_photo_titre_text{
margin:  35px !important;
margin-top: 10px !important;/**/
   width: 345px !important;
height: 139px;
}
.temoignage_photo{
width: 126px !important;
height: 139px !important;


}
.temoignage_titre_text{
   height: 139px !important;
}


.temoignage_titre_text h3{
color: var(--titre-color1); 
font-size: 30px;
line-height: 36px;

}
.temoignage h2{
   font-weight: 800;
}

.temoignage_titre_text p{
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
width: 196px;
}      



/**NOUS RENCONTRER**/
/*1ER BLOC*/

.bloc_titre_rencontrer p{
   width: 670px !important;
   margin-top: 20px;
   margin-bottom:30px !important;
}
.deplace-fleur{
   position: relative;
   top:110px ;
   right: 450px;
   }

/*2eme bloc nous rencontrer/l'equipe*/

.bloc_3equipes {
position: relative;
width: 100%;
}
.bloc_equipe h2{
   color: var(--titre-color3);
margin-bottom: 0 !important;
}
.image_deco_bloc_equipe{
   position: absolute;
   margin-bottom: 0 !important;
   right:80px;
   bottom:0px;
}
.ESSAI{
z-index: 1;
}
.photo_equipe{
   width: 167px;
   height: 167px;
margin:0 0 10px 0 !important;
   
}
.bloc_photo_text_equipe{
margin: 20px 80px 90px 80px !important;
}
/*formulaire contact*/

.deplace-plante{
position: relative;
right: 187px;
bottom: 290px;
z-index:0;
width: 147px;
height: 135px;
}
.contact{
position: relative;
z-index: 1;
}
.contact  h2{
   color: var(--titre-color3) ;
}


.contact input[type="text"],
.contact input[type="email"]
{
   width: 383px;
height: 71px;

}
.contact textarea{
   width: 383px;
}
.contact .wpcf7-form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.contact .wpcf7-form input,
.contact .wpcf7-form textarea
{
   display: flex;
   margin-bottom: 20px;
   margin-top: 10px;
}

.contact .wpcf7-form span{
margin-top: 10px !important;
}  

 /*footer*/

 footer {
   display:flex;
justify-content: center;
border-top-width: 0 !important;
margin-top:0 !important;
color: black;
}
footer ul {
   margin:0;
}
footer ul li {
   list-style-type: none !important;
   text-align: center;
}


footer ul li a:hover{
   text-decoration: none !important;
   color: var(--hover-color)  !important;
}
footer ul li a {
   color: black;
}
          /*a controler*/
          

 @media (min-width: 1220px){
   .entry-content  .alignfull{
       margin-top: 0;
       margin-bottom: 0;
 
 }
 }
 @media (min-width: 1000px){
    .entry-content  .alignfull:not(.wp-block-group.has-background),.wp-block-group:not(.has-background):not(.alignwide):not(.alignfull){
       margin-top: 0;
       margin-bottom: 0;
 
 }
 }
 @media (min-width: 700px){
    .entry-content  .alignfull:not(.wp-block-group.has-background),.wp-block-group:not(.has-background):not(.alignwide):not(.alignfull){
       margin-top: 0;
       margin-bottom: 0;
 
 }
 
 } 
 
 