

  
  @import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');


/* Import de la font 'syne' depuis Google Fonts et on l'applique sur tous les éléments de la page */
body* {
  
   font-family:'syne', sans-serif;
 }
/*font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;*/


:root {
   --background-color: ; /* var(--background-color) */
   --background-formulaire-commande: #3B8E46; /* var(--background-formulaire-commande) */
   
   --bouton-color:#E0B9B4; /* var(--bouton-color) */
   --hover-color: #C02E44; /* var(--hover-color) */
   --titre-color: #4B4B4B; /* var(--titre-color) */
   --text-formulaire-color:;/* var(--text-form-color)*/
 }



                  /*menu header*/
.navigation-principal{
display:flex;

}
.navigation-principal a {
text-align: center;
padding-top: 50px;
}

div.header-inner{
   margin:0;
   padding:0;
   width: 100%;
   max-width: 100%;
}


ul.primary-menu {
   display: flex;

margin: 0 0 0 0 ;

}
header ul li:last-child a{
   background:var(--bouton-color);
}


.primary-menu li.current-menu-item a{
   
   
 text-decoration:none !important;


}
.primary-menu  li a:hover{
   background:(--hover-color);
   color: white!important;

}
.primary-menu  li a{
text-decoration: none;
 padding-top: 2em;
padding-right: 3em;
 padding-bottom:2em;
  padding-left: 3em;
  color: black !important;
}
.primary-menu li{
   margin: 0;
   
}

                     /*logo*/
.custom-logo{
height:40px
}
                     /*main*/
.hover-effect img {
   transition: all 0.33s ease-in-out;
   transform: scale(1) translateY(0px);
}
.hover-effect img:hover {
   transition: all 0.33s ease-in-out;
   transform: scale(1.05) translateY(-10px);
}
/**fond et effet de fond*/
.font-gris {
background-color:  #ECE2DA;
margin-top:0;

}
.courbe-font{
   /*border-radius: 0% 0% 10% 10%;
border-radius:0 0 35em/3em  35em/3em;*/
border-bottom-right-radius: 55em 3em;
border-bottom-left-radius: 55em 3em;
/*border-bottom: solid 10px;*/
padding: 30px 0 30px 0 ;
}
.ombrebas{
   box-shadow: 10px 5px 0 5px   #f2dac6;
   ;
}

/*   */

h1,h2,h3{
color:  #3B8E46;

}

.titrerouge{
   color:#C02E44;
}
/*deplacer des element */
.elementg{
position: relative;
left: 18%;
z-index:1;
}
.elementd{
position: relative;
right: 18%;
z-index: 2;
}
.elemntc{
z-index:3;
}
.boutons a{
background:var(--bouton-color) !important;
color:#fff;

}
.boutons a:hover{
background:var(--hover-color)  !important;
border:none;
text-decoration: none !important;
}
.text1accueil{
padding:30px 30px 30px 30px;
}
.textacceuil{
padding: 0 15px 0 15px;
}
.deplace-fleur{
position: relative;
top:90px ;
right: 40%;
}
.bloc-equipe{
padding-bottom:-20px;
margin-bottom: 50px;
}
.deplace-tige{
position: relative;
bottom: 170px;
left: 40%;
}
.deplace-plante{
position: relative;
bottom: 170px;
right: 210px;
bottom: 210px;
z-index:0;
}
.contact{
position: relative;
z-index: 1;
}
.bandeau-canettes{
position: relative;
z-index: 0;
}
.canette1{
position: relative;
top: 200px;
z-index: 1;
padding: -20px;
}

@media (min-width: 1220px){
  .entry-content  .alignfull{
      margin-top: 0;
      margin-bottom: 0;

}
.wp-block-group:not(.has-background):not(.alignwide):not(.alignfull){
   margin-top: 0;
   margin-bottom: 0;
   padding-top: 0;
   padding-bottom: 0;
}
}
@media (min-width: 1000px){
   .entry-content  .alignfull:not(.wp-block-group.has-background),.wp-block-group:not(.has-background):not(.alignwide):not(.alignfull){
      margin-top: 0;
      margin-bottom: 0;

}
.wp-block-group:not(.has-background):not(.alignwide):not(.alignfull){
   margin-top: 0;
   margin-bottom: 0;
   padding-top: 0;
   padding-bottom: 0;
}
}
@media (min-width: 700px){
   .entry-content  .alignfull:not(.wp-block-group.has-background),.wp-block-group:not(.has-background):not(.alignwide):not(.alignfull){
      margin-top: 0;
      margin-bottom: 0;

}
.wp-block-group:not(.has-background):not(.alignwide):not(.alignfull){
   margin-top: 0;
   margin-bottom: 0;
   padding-top: 0;
   padding-bottom: 0;
}
}

               /**formulaire de commande**/

/**general**/
#wpcf7-f249-p37-o1{
   max-width: 100% !important;
   width: 100% !important;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
#wpcf7-f249-p37-o1 form.wpcf7-form {
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
background: var(--background-formulaire-commande); /* Couleur du fond du formulaire */
color: white !important; /* Couleur de texte des étiquettes */
width:100%;
}
#wpcf7-f249-p37-o1 form.wpcf7-form h1,h2,h3{

   color: white !important; /* Couleur de texte des étiquettes */
}
#wpcf7-f249-p37-o1 form.wpcf7-form h1{
   margin-bottom: 60px; /* Couleur de texte des étiquettes */
   }
#wpcf7-f249-p37-o1 form.wpcf7-form input{
   border-radius: 10px;
}

           /**bloc formulaire**/


               /**bloc commande fruits**/

.bloc_commande
{
   border-top: #fff solid 0.8px;
   border-bottom: #fff solid 0.8px;
   /* margin-bottom: 40px;
   margin: ;*/
}

.form1{
   display:flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.Fruits{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
text-align: center;
/*padding: 5px 15px 5px 15px;*/
width: 20%;

}
/*.essai{
height: 50px;
width: 100%;
background-image:url(http://localhost/planty/wp-content/uploads/2023/08/estudio-bloom-tOitjphtIXU-unsplash-1.png);

}*/
.tailleimagefruits{
   padding: 60px 60px 60px 60px;
font-size: 50px;
box-sizing: border-box;
/*font-weight: 4000;*/
/*line-height: 54px;*/
letter-spacing: 0em;

/*   display: flex;
   justify-content: center;
   align-items: center;*/
}

/*.imagfraise{

   background-image:url( http://localhost/planty/wp-content/uploads/2023/08/jeremy-bezanger-0QgbyZdhX7k-unsplash-1.png);
}
.imagpampl{
   background-image:url(http://localhost/planty/wp-content/uploads/2023/08/estudio-bloom-tOitjphtIXU-unsplash-1.png);
}
.imagframboise{
   background-image:url(http://localhost/planty/wp-content/uploads/2023/08/rodion-kutsaev-4k8xEFW4_3Q-unsplash-1.png);
}
.imagcitron{
   background-image:url(http://localhost/planty/wp-content/uploads/2023/08/estudio-bloom-ezqnxsqUZ80-unsplash-1.png);
}*/


.valid_quantite{
   display: flex;
   /*flex-direction: row;*/
   justify-content: space-between;
   align-items: center;

}.larg_nbr_fruit{
   width: 40%; 
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.larg_valid_fruit {
  /* width: 55%; */
   text-align: right !important;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.boutton_fruit , .bouton_envoie input{
   background: var(--bouton-color) !important;
   /*text-align: center;*/
   
  }
  .images_fruits{
   padding: 1.5em 3em ;

  }
  .larg_valid_fruit input{
   /*padding: 0% !important;
   padding: 0.9em;
   margin-left: 5%;
   width: 100%;
   height: 100%;*/
   padding: 1.5em 4em;
}


               /**bloc  info+livraison**/

.bloc_info_livraison{
   display:flex;
   flex-wrap: wrap;
  /*justify-content: center;*/
  align-items: center;
  /*width: 100%;*/
   margin-top: 40px;
}
.bloc_information{
padding-right: 15px;
width: 50%;
}
.form2{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items:flex-start;
 
}


.bloc_livraison{
padding-left: 15px;
width:50%;
border-left: #fff solid 0.8px;
}



                     /**bloc bouton envoie"**/
.bouton_envoie span{
 margin: 0 !important;
}
.bloc_bouton_envoie {
   text-align: center;
   margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .bloc_bouton_envoie input {
   display: flex;
  justify-content: center;
  align-items: center;
   text-align: center;

  }

                     /*footer*/

footer {
   display:flex;
justify-content: center;
border-top-width: 0 !important;
margin-top:0 !important;
color: black;
}
footer ul {
   margin:0;
}
footer ul li {
   list-style-type: none !important;
   text-align: center;
}


footer ul li a:hover{
   text-decoration: none !important;
   color: var(--hover-color)  !important;
}
footer ul li a {
   color: black;
}
/**essai
.container {
   display: inline-block;
   position: relative;
}

.container .text {
   background: rgba(0, 0, 0, 0.8);
   z-index: 1;
   position: absolute;
   text-align: center;
   font-family: Georgia;
   margin: 0 auto;
   left: 0;
   right: 0;
   top: 30%;
   color: white;
   width: 70%;
}
**/


.container {
   display: flex;
   flex-direction: column;
	position: relative;
	width: 100%;
	height: 200px;
}

.container img,
.container .text {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.container img {
	/*object-fit: cover;*/
}

.container .text {
	display: flex;
	justify-content: center;
	align-items: center;
}





input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
 transform: rotate(90deg);
 /** height: 200px;
  width: 0;
padding: 0.6em 1.5em;**/
}
.bouton-select{
  background: var(--bouton-color)!important; 
  padding:0.5em 0.5em ;
  border-top-right-radius:10px ;
  border-bottom-right-radius: 10px;
}
.number-input{
   display: flex;

}
.bloc_bouton_p_m{
 /*  display: flex;*/
}

/**.quantity-wrapper {
  position: relative;
  
}**/
/**
.quantity-wrapper:after {
  content: "+";
  position: absolute;
  right: 5px;
  height: 100%;
  top: 8px;
  pointer-events: none;

}*/
/*
.quantity-wrapper:before {
  content: "-";
  position: absolute;
  left: 5px;
  height: 100%;
  top: 8px;
}/*